@import '~antd/dist/antd.css';



.site-layout-content {
  min-height: fit-content;
  padding: 30px;
  background: rgba(116, 114, 114, 0.486);
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(120, 204, 11, 0.3);
  background-image: url(C:\Users\Public\Pictures\tennisballs.jpg);
}

ant.layout.header .header {
  height: 200px;
}