@import 'antd/dist/reset.css';

.site-layout-content {
  min-height: fit-content;
  padding: 30px;
  background: rgb(0, 0, 0);
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgb(226, 196, 28);
}
ant.layout.header .header {
  height: 100vh;
}