.location
{
    background-color: rgb(57, 58, 110);
    color: beige;
}

.location:hover
{
    background-color: gray;
}

.ant-table-thead .ant-table-cell
{
    background-color: rgb(177, 177, 177); 
}